/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
.action_bar{
    background-color: #4F57B3;
    color: white;
}
.med_margin{
    margin: 8;
}
TextField.light{
    color: gray;
}
#dd{
    margin: 8;
    padding: 8;
}
Button{
    margin: 8;
}
Button.dark {
    background-color: #4F57B3;
    color: white;
}
Button.light {
    background-color: #dcdcdc;
    color: white;
}
.label{
    font-size: 16;
    margin:8;
    margin-bottom: 0;
    font-weight: bold;
    color: gray;
}
.centered{
    text-align: center;
}
.left{
    text-align: left;
}
.positive{
    background-color: #4AC4B6;
}
.negative{
    background-color: #FF8484;
}
.rounded{
    border-radius: 4;
}